NorthwindWeb/Service References/Libraries/SupplierService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.20.2.89/SupplierService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Libraries" />
  <xs:element name="addSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Libraries" minOccurs="0" name="supplier" nillable="true" type="q1:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addSupplierResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Libraries" minOccurs="0" name="getSupplierResult" nillable="true" type="q2:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchSuppliers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pattern" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchSuppliersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Libraries" minOccurs="0" name="searchSuppliersResult" nillable="true" type="q3:ArrayOfSupplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="seeDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="seeDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Libraries" minOccurs="0" name="seeDetailsResult" nillable="true" type="q4:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Libraries" minOccurs="0" name="supplier" nillable="true" type="q5:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modifyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>