NorthwindWeb/Service References/Libraries/SupplierService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Libraries" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Libraries" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Supplier">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contactTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ville" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="webSite" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Supplier" nillable="true" type="tns:Supplier" />
  <xs:complexType name="ArrayOfSupplier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Supplier" nillable="true" type="tns:Supplier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplier" nillable="true" type="tns:ArrayOfSupplier" />
</xs:schema>